.heading {
  font-size: 4vw;
}

body {
  background-color: rgb(243, 241, 142, 0.5);
  color: #222222;
  font-family: "Poppins", sans-serif;
  padding: 5px;
}

body.dark-mode{
  background-color: #0567b8;
  color: #dee4e7;
  font-family: "Poppins", sans-serif;
  padding: 5px;
}
.toggle {
  position: absolute;
  top: 80px;
  right: 150px;
}

.label {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #1f1f1f;
  height: 30px;
  width: 55px;
  border-radius: 50px;
  cursor: pointer !important;
}

.fa-moon {
  font-size: 20px;
  color: silver;
  position: absolute;
  right: 5px;
}

.fa-sun {
  font-size: 18px;
  color: rgb(255, 123, 0);
  position: absolute;
  left: 5px;
}

.switch {
  width: 24px;
  height: 24px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 50%;
  transition: all ease 0.3s;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox:checked + .label .switch {
  transform: translateX(25px);
}
hr {
  width:75%;
  height: 2px;
  border: 0;
  background: #333;
  background-image: linear-gradient(to right, #f6f6f6, black, #f6f6f6);
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.name{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}
.card{
  margin: 2rem;
}
.icons{
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons a{
  font-size: 22px;
  margin-right: 1rem;
  text-decoration: none;
  color:black ;
  margin-bottom: 4px;
  cursor: pointer;
}
.icons a:hover{
  transform: scale(1.1);
  color: rgb(26, 26, 26);
}

.about{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-size: large;
}
@media only screen and (max-width: 1122px) {
  header .toggle {
    position: relative;
    top: 15px;
    left: 50%;
  }
  .label {
    transform: translateX(-50%);
  }
}

* {
  cursor: url(images/cursor/cur1165.ani), url(images/cursor/cur1165.png), auto !important;
}

a {
  cursor: pointer !important;
}

@keyframes toggleAnimate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}
